body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

code, kbd, samp, tt {
  font-size: 100%; }

/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {
  *font-size: 100%; }

body {
  line-height: 180%; }

ol, ul, li {
  list-style: none; }

:link, :visited, ins {
  text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/*HTML5 tag*/
section, article, aside, footer, header, nav, main {
  display: block; }

/*  reset css  */
/*--------------reset結束------------------*/
.wrap{
    height: 100vh;
    margin: auto;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("../img/bg.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("../img/bg.jpg");
    background-attachment: fixed;
}

.main{
    width: 1000px;
    margin: auto;
    padding-top: 1%;
}

.block{
    width: 300px;
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    background-color: rgba(208, 205, 205, 0.21);
    border: 1px solid #393939;
}

.preview{
    width: 300px;
}

.HostPic{
    width: 50px;
    border-radius: 50%;
    margin: 5%;
    float: left;
}
p{
    font-weight: bold;
    color: white;
    margin-left: 25%;
    font-size: 18px;
    line-height: 30px;
    margin-top: -3%;
}

.first{
    margin-top: 5%;
    width: 200px;
}

.ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






